:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  // img {
  //   border-radius: 10%;
  // }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
    text-align: center;
  }

  .header-text {
    width: 600px;
    max-width: 100%;
  }

  p {
    font-size: medium;
    text-align: center;
    margin: 0;
    width: 640px;
    max-width: 100%;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(247, 247, 247);
    color: black;
    font-weight: 600;
  }

  .address {
    margin-right: 16px;
    text-align: right;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 80px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .content-2 {
    display: flex;
    margin: 16px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .paragraph {
    text-align: left;
  }

  .mat-accordion {
      width: 320px;
      display: flex;
      padding: 8px;
  }

  .form {
    width: 320px;
  }

  .diagram {
    max-width: 100%;
    width: 600px;
  }

  button {
      width: 320px;
  }

  mat-grid-list {
    max-width: 100%;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    padding-bottom: 0px;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    align-items: center;
  }

  .icon {
    width: 40px;
    height: auto;
  }

  .main-img {
    max-width: 100%;
    width: 560px;
  }